body {
    background-color: #add1f7;
    margin: 0px;
    font-size: 20px;
}

.img-box {
    background-color: #7D97B3;
    height: 300px; /* The height of the bar */
    width: 100%;
    float: left;
    margin-top: 30px;
}

.img {
    float: left;
    height:250px; /* The height of the image */
    margin: 25px;
}

.img-text {
    margin-top: 25px;
}


/* stuff for image carousel */

.swiper {
  width: 100%;
  height: 300px; /* The height of the boxes for the scrolling images */
}

.swiper-slide {
  text-align: center;
  background: #7D97B3;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.swiper-slide img {
  text-align:center;
  height: 200px; /* The height of the images */
  object-fit: cover;
  margin-top: 10px;
}